/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #fbfbfb;
}

.bg-clr{
  background-color: #fbfbfb;
}

.txt-fnt-fmly{
font-family: "Avenir LT W01 85 Heavy",Arial,Helvetica,sans-serif;
}
