<div class="sm:max-w-screen-md mx-auto relative mt-36 md:mt-0 relative z-30 mix-blend-multiply opacity-1">

  <img
    class="mix-blend-multiply max-md:max-w-lg max-md:mx-auto"
    src="assets/clock.webp"
    alt="Clock">

  <div
    class="max-md:top-52 max-md:left-0 max-md:right-0 max-md:ml-auto
     max-md:mr-auto max-md:w-full max-md:text-center max-md:text-6xl
     font-fix md:text-8xl font-bold z-20 absolute top-44 ml-24
     md:top-80 md:left-28 sm:tracking-tighter">
    {{date}}
  </div>
</div>
